.form-login {
    min-height: 270px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-login__title{
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
}

.form-login__name-wrapper,
.form-login__password-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
}

.form-login__name-input,
.form-login__password-input{
    width:250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
}
.form-login__name-label,
.form-login__password-label{
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
}

.form-login__name-error,
.form-login__password-error{
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 44px;
    color: tomato;
    font-size: 18px;
}

.form-login__remember-wrapper{
    min-width:250px;
    padding-top: 5px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.form-login__remember-label{
    padding-left: 25px;
}

.form-login__remember-input{
    position:absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-login__remember-input--checkbox{
    margin-left: -25px;
    position:absolute;
    
}

.form-login__remember-input--checkbox--icon{
    scale: 1.5;
}

.form-login__forgot-password__wrapper{
    padding-bottom: 15px;
}

.form-login__forgot-password-link{
    padding-bottom: 5px;
    position:relative;
}

.form-login__forgot-password-link::after{
    content: '';
    width: 123px;
    display: block;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
}

.form-login__submit-btn{
    width: 250px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 18px;
}

.form-login__submit-btn:disabled{
    color: rgba(0,0,0,0.3)
}

