.header{
  min-height: 80px;
  min-width: 680px;
  margin-right:50px;
  margin-left:50px;
  margin-top:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  letter-spacing: 1.2px;
  color: black;
  background-color: #1136;
  color: white;
  border-radius: 15px;
}